@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root{
    --color-primary: #f97316;
    --color-offwhite: #fdba74;

    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-size: larger; */
    margin: 0;
    padding: 0;
}

.navigation h1{
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    font-weight: bold;
}

/* container */
.container{
    padding: 1rem 2rem;
}
.container-center{
    margin: auto;
    text-align: center;
}

/* link  */
.link{
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.link-primary{
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;
}
.link-primary:hover{
    background-color: initial;
    color: var(--color-primary);
}
.link-secondary{
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}
.link-secondary:hover{
    background-color: var(--color-primary);
    color: white;
}

/* list  */
.nonbullet-list{
    list-style: none;
}
.inline-list{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}
.inline-list__item{
    display: inline;
    padding: 0 0.5rem;
}

/* navigation  */
.navigation{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-bottom-left-radius: 20px;
}

/* .navigation ul{
    max-width: 50vw;
} */

.active{
    font-weight: bold;
}

/* header  */
.header{
    margin-top: 6rem;
}
.hero-img{
    width: 25vw;
}
.text-primary-color{
    color: var(--color-primary);
}

/* section  */
.section{
    padding: 1.5rem;
}

.section-offwhite{
    background-color: var(--color-offwhite);
}

/* card  */
.card{
    width: 25vw;
    /* box-shadow: 2px 0px 1px var(--color-primary); */
    padding: 1rem 2rem 3rem 2rem;
    border-radius: 10px;
    text-align: left;
    margin: 2rem;
    /* height: 30vh; */
    border-left: 5px solid var(--color-primary);
    background-color: rgb(214, 214, 214);
}
.card .link{
    margin-left: 0;
    margin-top: 1rem;
}
.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem ;
}
.card img{
    width: 5rem;
}

.main{
    margin-left: 5vw;
    margin-right: 5vw;
}

/* footer  */
.footer{
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.footer img{
    width: 2rem;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* mobile responsive */
@media screen and (max-width: 768px){
    .hero-img{
        width: 50vw;
    }
    .card{
        width: auto;
        margin: 5vw 2vw;
    }
    .card-holder{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 2.5rem 0rem ;
    }

    .inline-list__item{
        display: inline;
        padding: auto;
    }

    .navigation{
        display: flex;
        flex-direction: column;
    }
    .navigation h1{
        margin-bottom: 0;
    }
}