:root{
    --color-primary: #f97316;
    --color-offwhite: #fdba74;

    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* container */
.container{
    padding: 1rem 2rem;
}
.container-center{
    margin: auto;
    text-align: center;
}

/* link  */
.link{
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.link-primary{
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;
}
.link-primary:hover{
    background-color: initial;
    color: var(--color-primary);
}
.link-secondary{
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}
.link-secondary:hover{
    background-color: var(--color-primary);
    color: white;
}

/* list  */
.nonbullet-list{
    list-style: none;
}
.inline-list{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}
.inline-list__item{
    display: inline;
    padding: 0 0.5rem;
}

/* navigation  */
.navigation{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    border-bottom-left-radius: 20px;
}

/* header  */
.hero-img{
    width: 20vw;
}
.text-primary-color{
    color: var(--color-primary);
}

/* section  */
.section{
    padding: 1.5rem;
}

.section-offwhite{
    background-color: var(--color-offwhite);
}

/* footer  */
.footer{
    background-color: var(--color-primary);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.footer ul{
    padding-inline-start: 0px;
}